/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #457b9d;
}

/* Estilos para la presentación y márgenes */
.Presentacion2 {
  margin-bottom: 100px;
}

.mr {
  margin-top: 20px;
}

.mof {
  margin-right: 100px;
}

#TextoMini2, #TextoMini3 {
  margin-bottom: 20px;
}

/* Estilos para la navegación */
.nav {
  background-color: #f4f4ec;
  height: 80px;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 2;
}

.Il {
  width: 150px;
  height: 80px;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.5s ease-in-out;
}

.navul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navulli {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navullia {
  color: #1c555e;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

.active, .navullia:hover {
  background: #e2ded3;
  transition: 0.5s;
}

/* Estilos para el botón de menú en móviles */
.checkbtn {
  font-size: 30px;
  color: #204158;
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Estilos para el contenedor de idiomas */
.IC {
  position: absolute;
  right: 20px;
  top: 10px;
  display: flex;
  height: 20px;
  width: 80px;
}

.IDIOMAS {
  border-radius: 200px;
  height: 22px;
  width: 22px;
  margin-left: 6px;
}

.IDIOMAS:hover {
  transform: scale(1.1);
}

.HomeImage {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.Gcontainer {
  height: 1300px;
  background-color: #f4f4ec;
  width: 97%;
  margin: 20px auto;
  border-radius: 5px;
  border: #756c6b 2px solid;
}
.separator{
  height: 80px;
}

/* Títulos y textos */
.BrandTitle {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  color: black;
}

.ContentContainer {
  margin: 20px 60px;
  padding: 20px 0;
}

.Xiaomi, .Apple, .Samsung {
  border: 2px dotted;
  box-shadow: 10px 10px #756c6b;
  background-color: #e2ded3;
}

.ContentText {
  margin: 0 60px;
  font-size: 20px;
}

/* Botón de logout */
.logout {
  color: black;
  background-color: #bda87c;
  padding: 10px;
  margin: 20px 40px 10px 0;
  border: none;
  box-shadow: 5px 5px #4e4a49;
  float: right;
  transition: all 0.5s;
}

.logout:hover {
  background-color: #b6a787;
  color: #b61d1d;
  transform: translateY(-2px);
}

.divider {
  height: 40px;
  width: 100%;
}

.Ccontainer {
  width: 95%;
  height: 500px;
  margin: 20px auto;
  background-color: #f4f4ec;
  border-radius: 5px;
  border: #756c6b 2px solid;
}

.ComentText {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Media queries */

@media (max-width: 1050px) {
.Gcontainer {
  height: 1500px;
  background-color: #f4f4ec;
  width: 97%;
  margin: 20px auto;
  border-radius: 5px;
  border: #756c6b 2px solid;
}
}
@media (max-width: 1050px) {
  .navullia {
    font-size: 16px;
    padding: 6px 12px;
  }

  .navulli {
    margin: 10px 0;
    line-height: 30px;
  }

  .ContentText {
    margin: 0 30px;
    font-size: 18px;
  }

  .BrandTitle {
    font-size: 35px;
  }

  .logout {
    margin-right: 20px;
  }
}

@media (max-width: 940px) {
  .checkbtn {
    display: block;
  }

  .navul {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f4f4ec;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .navulli {
    display: block;
    margin: 20px 0;
    line-height: 30px;
  }

  .navullia {
    font-size: 20px;
  }

  .active, .navullia:hover {
    background: none;
    color: #3d8dbe;
  }

  #check:checked ~ .navul {
    right: 0;
  }


  .ContentText {
    margin: 0 20px;
    font-size: 16px;
  }

  .BrandTitle {
    font-size: 30px;
  }

  .logout {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .BrandTitle {
    font-size: 25px;
  }
  .ContentContainer {
    margin: 10px 20px;
    padding: 10px 0;
  }

  .ContentText {
    margin: 0 10px;
    font-size: 14px;
  }

  .logout {
    padding: 5px;
    margin-right: 5px;
  }

  .navulli {
    margin: 15px 0;
    line-height: 25px;
  }

  .navullia {
    font-size: 18px;
  }
}
